.activity-content {
  max-width: 1500px;
  margin: 0 auto;
}
.activity-card {
  margin: 0 auto;
  width: 460px;
}

.activity-card-image {
  transition: opacity 0.3s ease;
}

.activity-card-image:hover {
  opacity: 0.8;
}

.activity-card-image.mdl-card {
  width: 100%;
  height: 256px;
  margin-bottom: 20px;
}
.activity-card-image > .mdl-card__actions {
  height: 95px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.75);
}
.activity-card-image__title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.activity-card-image__subtitle {
  color: #fff;
  font-size: 14px;
}

.page-buttons-container {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.page-buttons-container a {
  text-decoration: none;
  margin: 10px;
}

@media only screen and (max-width: 1124px) {
  .activity-card {
    min-width: 100%;
  }
}