.activity-content {
  display: grid;
  grid-template-columns: 25% 25% 25%;
}

.activity-card {
  margin: 0 auto;
}

.activity-card-image.mdl-card {
  height: 256px;
  margin-bottom: 20px;
}
.activity-card-image > .mdl-card__actions {
  height: 95px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.75);
}
.activity-card-image__title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.activity-card-image__subtitle {
  color: #fff;
  font-size: 14px;
}
@media only screen and (max-width: 1400px) {
  .activity-content {
    grid-template-columns: 40% 40%;
  }
}

@media only screen and (max-width: 870px) {
  .activity-content {
    grid-template-columns: 70%;
  }
}