.next-activity-container {
    padding-top: 60px;
    padding-bottom: 20px;
    background-repeat: repeat repeat;
    background-size: cover;
    min-height: calc(100% - 250px);
}

.next-activity-main-info-container {
    background: #000000BF;
    color: white;
    margin: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
}

.next-activity-main-info-text-content {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.next-activity-main-info-speakers {
    grid-column-start: 2;
    grid-column-end: 2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    margin-bottom: 40px;
}

.next-activity-speaker-content {
    display: grid;
    grid-template-columns: 20% 80%;
}

.next-activity-speaker-content-left {
    grid-column-start: 1;
    grid-column-end: 1;
}
.avatar {
    width: 100%;
    margin-top: 30px;
} 

.next-activity-speaker-content-right {
    grid-column-start: 2;
    grid-column-end: 2;
    padding-left: 10px;
    padding-right: 10px;
        
}

.next-activity-content-button {
    color: white !important;
    background: #8a8c8c !important;
    float: left;
}

.next-activity-map-button {
    margin-right: 20px;
    float: right;
}

.next-activity-main-info-related-links {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.related-link-card {
    display: grid;
    grid-template-columns: 24px auto;
    background: white;
    min-width: 40%;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.related-link-card > i {
    color: #2e2d2d;
    margin-right: 5px;
}

.related-link-card > a {
    color: #2e2d2d !important;
}

@media only screen and (max-width: 1300px) {
    .related-link-card {
        min-width: 60%;
    }
}

@media only screen and (max-width: 1024px) {
    .next-activity-main-info-container {
        grid-template-columns: 100%;
    }

    .next-activity-main-info-speakers {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .next-activity-container {
        padding-top: 20px;
        background-size: unset;
    }

    .next-activity-map-button {
        margin-top: 15px;    
        float: left;
    }
}