body {
  min-height: 100%;
}

a {
  color: white !important;
  font-weight: bold;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: #424242 !important;
}

main {
  margin-top: 54px;
}

.avatar {
  border-radius: 50%;
}

.no-underline-link {
  text-decoration: none;
}

.transparent-link {
  color: transparent !important;
}


@media only screen and (max-width: 1000px) {
  nav a {
    padding: 0 !important;
  }

  div .mdl-layout__header-row {
    padding-left: 20px !important;
  }
}