<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <h2 class="mdl-mega-footer__heading">Más información</h2>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="/queEsElAteneo">Qué es ateneo</a></li>
      <li><a href="/terminos">Términos de uso</a></li>
    </ul>
  </div>

  <div class="mdl-mini-footer__left-section">
    <h2 class="mdl-mega-footer__heading">Síguenos</h2>

    <a href="{{ site.twitter }}" target="_blank">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <img alt="Twitter" width="28px" src="/images/twitter.svg">
      </button>
    </a>

    <a href="{{ site.facebook }}" target="_blank">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <img alt="Facebook" width="28px" src="/images/facebook.svg">
      </button>
    </a>

    <a href="mailto://{{ site.email }}">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">email</i>
      </button>
    </a>
  </div>

</footer>