<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a href="/">
        <img class="mdl-navigation" alt="Logo Ateneo" src="/images/logo.svg">
      </a>
      <a href="/">
        <img class="mdl-navigation ateneo-de-molina-img-title" alt="Ateneo Molina de Segura" src="/images/ateneo_de_molina.svg">
      </a>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--medium-screen-only">
        <a href="/actividades" class="mdl-navigation__link" href="">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Actividades
          </button>
        </a>

        <a href="/queEsElAteneo" class="mdl-navigation__link" href="">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Qué es el Ateneo
          </button>
        </a>
      </nav>
    </div>
  </header>
</div>