<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <a href="/">
        <img class="mdl-navigation" id="logoAteneo" alt="Logo Ateneo" src="/images/logo.svg">
      </a>
      <a href="/">
        <img class="ateneo-de-molina-img-title" alt="Ateneo Molina de Segura" src="/images/ateneo_de_molina.svg">
      </a>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
          <a href="/ateneojoven" class="mdl-navigation__link">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
              Ateneo Joven
            </button>
          </a>
        <a href="/cine" class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Cine Ateneo
          </button>
        </a>
        <a href="/actividades" class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Debate Ateneo
          </button>
        </a>
        <a href="https://www.youtube.com/channel/UCGST1ZCNxGrxxzr5ixH6wJg" class="mdl-navigation__link">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
            Ateneo Online
          </button>
        </a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
      <a href="/" class="mdl-layout-title no-underline-link">
        <img alt="Logo Ateneo" src="/images/logo.svg"><span>Ateneo</span>
      </a>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/ateneojoven">Ateneo Joven</a>
        <a class="mdl-navigation__link" href="/cine">Cine Ateneo</a>
        <a class="mdl-navigation__link" href="/actividades">Debate Ateneo</a>
        <a class="mdl-navigation__link" href="https://www.youtube.com/channel/UCGST1ZCNxGrxxzr5ixH6wJg">Ateneo Online</a>
      </nav>
    </div>
</div>